<div class="bg-m">
  <div class="container-fluid">
    <div class="row m-header">
      <div class="col-xs-12 padd0">
        <div class="col-xs-2 padd0">
          <img width="40px" src="assets/megashark/image/mega-logo.PNG">
        </div>
        <div class="col-xs-8 m-head padd0">
          <h4>MEGA SHARK</h4>
          <P>SEASON 2</P>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="colxs-12 m-banner">
        <div class="image-wrap">
          <div class="img-content">
            <img src="assets/megashark/image/img-2.jpg" alt="">
          </div>
          <div class="overlay"></div>
        </div>
        <div class="banner-content">
          <h1>1,15,000/-</h1>
          <img class="img-responsive" src="assets/megashark/image/icon-1.png">
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="colxs-12 ans-quest ">
        <p>Answer simple question like</p>
        <p>Q.In which city is the Taj Mahal situated ?</p>
        <p>@.What is the national bird of India ?</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 timer-area">
        <h4>SEASON END IN <span> {{days}}d : {{hours}}h : {{minutes}}m : {{seconds}}s</span></h4>
        <a (click)="goForPack()">PLAY FOR FREE</a>
      </div>
    </div>
  </div>


  <div class="container-fluid home-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 cash-prize">
          <p>CASH PRIZES TO BE WON (SEASON 2)</p>
        </div>
        <div class="col-xs-12 m-foot">
          <div class="col-xs-3 footer-text">
            <p>1st Prize</p>
          </div>
          <div class="col-xs-3 footer-text">
            <p>50,000</p>
          </div>
          <div class="col-xs-6 footer-text">
            <p><span>ONE</span> Highest Sesone Scorer</p>
          </div>

        </div>
      </div>
    </div>
  </div>





</div>