<div class="home_screen-2 support_screen">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 d-logo" (click)="goHome()">
        <img src="assets/dashboard/image/logo.png">
      </div>
      <div class="col-xs-3 p-0">
        <div class="points-area">
          <h4>
            <img src="assets/dashboard/image/coin.png"> 2387 </h4>
        </div>
      </div>

      <div class="col-xs-4 p-0 mob-nomber">
        <p>+91 9650720084</p>
      </div>

    </div>
  </div>


  <div class="container m-t-20">
    <div class="col-xs-12 redeem-text">
      <h4>Buy Deals and Earn Points</h4>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img2.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 30% Cashback on Indigo Voucher Upto Rs.2500</h4>
        <button>Buy For Rs. 30</button>
        <p>35 Points</p>
      </div>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img4.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 30% Cashback on LEVI'S Voucher Upto Rs.2000 </h4>
        <button>Buy For Rs. 50</button>
        <p>60 Points</p>
      </div>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img6.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 15% Cashback on VAN HEUSEN Voucher Upto Rs.2000 </h4>
        <button>Buy For Rs. 15</button>
        <p>15 Points</p>
      </div>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img1.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 15% Cashback on Book My Show Voucher Upto Rs.1800 </h4>
        <button>Buy For Rs. 15</button>
        <p>15 Points</p>
      </div>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img5.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 10% Cashback on UBER Voucher Upto Rs.1000 </h4>
        <button>Buy For Rs. 10</button>
        <p>10 Points</p>
      </div>
    </div>

    <div class="col-xs-12 buy-list">
      <div class="col-xs-3 buy-img padd0">
        <img src="assets/dashboard/image/img3.png">
      </div>
      <div class="col-xs-9 buy-detail">
        <h4>Flat 5% Cashback on KFC Voucher Upto Rs.500 </h4>
        <button>Buy For Rs. 5</button>
        <p>5 Points</p>
      </div>
    </div>








  </div>


  <div class="container m-foot-quest">
    <div class="col-xs-12 ">
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getTC()">T&amp;C</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getBlog()">Blog</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getFAQ()">FAQ's</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="sendQuery()">Support</a>
        </p>
      </div>
    </div>
  </div>
</div>