<body id="pp_pwinner">
<div class="pool_home_screen">
  <div class="container">
    <div class="pool_home_info">	
      <div class="col-xs-12 p_0">
        <div class="pool_header">
          <a (click)="goHome()" class="menu_icon">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <h3 class="pool_quiztitle">Past Winners</h3>
        </div>
        <div class="pool_term_tex">
          <ul>
            <li>
              <div class="poolpast_winner">
                <div class="poolpast_winnerimg">
                  <img src="assets/poolprize/image/winner1.jpg">
                </div>
                <div class="poolpast_winnertext">Past Winner
                  <span>A.R. Hashmi</span>
                  <p>(Delhi)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="poolpast_winner">
                <div class="poolpast_winnerimg">
                  <img src="assets/poolprize/image/winner1.jpg">
                </div>
                <div class="poolpast_winnertext">Past Winner
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum nam mollitia impedit ratione, delectus autem, rem, repellendus quod explicabo laboriosam doloribus nemo quos. Error blanditiis quas atque! Amet, eum.</span>
                  <p>(Rajkot)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="poolpast_winner">
                <div class="poolpast_winnerimg">
                  <img src="assets/poolprize/image/winner1.jpg">
                </div>
                <div class="poolpast_winnertext">Past Winner
                  <span>Mukesh Patel</span>
                  <p>(Mumbai)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="poolpast_winner">
                <div class="poolpast_winnerimg">
                  <img src="assets/poolprize/image/winner1.jpg">
                </div>
                <div class="poolpast_winnertext">Past Winner
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum nam mollitia impedit ratione, delectus autem, rem, repellendus quod explicabo laboriosam doloribus nemo quos. Error blanditiis quas atque! Amet, eum.</span>
                  <p>(Rajkot)</p>
                </div>
              </div>
            </li>
            <li>
              <div class="poolpast_winner">
                <div class="poolpast_winnerimg">
                  <img src="assets/poolprize/image/winner1.jpg">
                </div>
                <div class="poolpast_winnertext">Past Winner
                  <span>Himesh Patel</span>
                  <p>(Rajkot)</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>	
    </div>
  </div>
  
</div>
</body>
