<div class="quick_screen">
  <header class="header tc_header">
    <div class="container">
      <div class="col-xs-12 p_0">
        <a class="logo" (click)="goHome()">
          <img class="logo-hunter" src="assets/dashboard/image/avtar_img.jpg">
        </a>
        <span class="header_title">Terms & Condition</span>
      </div>
    </div>
  </header>
  <div class="container new-tandc">
    <div class="col-xs-12 padd0">
      <h4 class="text-center">Campaign Name: “Hunter Games” – Snap Win</h4>
    </div>
    <div class="col-xs-12 padd0">
      <div class="support_info tc_info new-tnc-sty">
        <h4>Part –A: Campaign Terms & Conditions (“T&C”)</h4>
        <ol class="term_tex">
           <li>WEBSITE SERVICES : Your use of certain Website Services, features, functionality, Campaigns or programs (including,
            without limitation, games, contests, promotions, blogs etc.) offered on or through the Website may be subject
            to additional terms and conditions, and before you use any such services, features, functionality or other programs
            you may be required to indicate your acceptance of such additional terms and conditions. </li>
            <li>The Campaign offered by the Company is called: “Hunter Games- Quiz Bomb” (hereinafter referred to as “Campaign”)
            The Part A of these TOU state the applicableterms.The Campaign Period shall commence from
            <b> 15th January 00:00:00 hours to 25th January 11:59:59</b> hours onwards up to further notice.
            <br>
            <br>For the avoidance of any doubt, please note that the gratifications offered under this Campaign are solely sponsored
            and distributed by Hunter Games for the Winner(s) (defined later) of this Campaign to be participated by the
            Hunter Games user(s).</li>
           <li>The Prize under this deal is sponsored by Hunter Games Technologies Private Limited. Communications Limited (Hunter
            Games), whereas organized, administered and facilitated by Hunter Games Technologies Private Limited, a Company
            which owns and operates an online gaming platform website located at the URL ‘www.huntergames.com’ and is having
            its registered office at Hunter GamesPrivate LimitedB-74, Park Plaza Condominium, New Yari Road, Andheri(W),
            Mumbai-400061, Maharashtra India.</li>
           <li>For clarity and brevity Hunter Games Technologies Private Limited is hereinafter referred to as “Hunter Games.</li>
            <li>A Hunter Games user (participating in this Campaign shall be referred to as “Participant”) by participating in
            the Campaign, hereby agrees to the TOU mentioned below and gives his/her irrevocable consent to the process of
            selecting the winner as set out herein, and any appropriate changes that may be made to this Campaign by Hunter
            Games , including due to any legal or regulatory requirement, instructions from any judicial or a quasi-judicial
            body or due to any natural calamity beyond the reasonable control of Hunter Games , its affiliates and associates
            or for any other reason whatsoever.</li>
            <li>For the purposes of these TOU, wherever the context so requires “You” or “Your” shall mean any natural person who
            is a Participant.</li>
           <li>These TOU are available on the website http://huntergames.com/tnc.The TOU can be amended or varied from time to
            time or withdrawn and therefore, please visit the Website periodically to keep yourself updated and informed.</li>
            <li>By participating in the Campaign, You indicate your acknowledgement and acceptance of these TOU.</li>
            <li>Unconditional Approval/Acceptance:
            <ul>
               <li>The Participant is aware that answers submitted on the internet portal and sent by the Participant may not
                be received by Hunter Games instantly due to various factors outside the control of Hunter Games such as
                network failure, system failure etc. </li>
               <li>The time at which the Participant answered through click on Internet portal from handset will not be considered
                even if it is earlier. (Example – Participant sent answer at 14:00hrs but it was received by Hunter Games
                only at 15:00hrs. Hunter Games will consider the time as 15:00hrs only).</li>
                <li>The Participant undertakes not to dispute/challenge the delay caused in receiving the answer through Internet
                Portal by Hunter Games due to network failure, system failure, etc., which are beyond the control of Hunter
                Games.
                </li>
               <li>The winner may require a valid Hunter Games KYC verified account for the purpose of claiming gratification
                under this Campaign.</li>
                <li>He/she must be registered as Hunter Games User on mobile number through which he/she attempted to play the
                Campaign and chosen as the Winner(s) under this Campaign. The participant must have Hunter Games account
                on his/her own name through which they are buying packs/questions.The Participant must ensure that he/she
                registers his Paytm number as the Hunter Games registered number.</li>
            </ul>
          </li>
          <li>Charging:
            <ul>
                <li>To participate in the Campaign, the Participants have to follow the below mentioned steps:
                   <ul>
                      <li>Click/Type Hunter Games URL (http://huntergames.com/snapwin) on his/her mobile phone/laptop/desktop.</li>
                      <li>After clicking/typing on the above mentioned URL, he/she will be redirected to Quiz contest/game portal
                        (Home page).</li>
                      <li>Participant will have to login with his/her Hunter Games account credentials.</li>
                      <li>After successful login, Participant will be redirected to store page.</li>
                      <li>Participant can play this contest for Rs. 10/- (Rupees Ten).
                      <table>
                         <tbody>
                           <tr>
                             <td>Billing amount per Participant(s)</td>
                             <td>10/-</td>
                           </tr>
                         </tbody>
                      </table>
                       </li>
                      <li>Participant(s) will be able to play one time or multiple times in a single day (each game play of fixed
                       questions is hereinafter “Round”) while participating in this Campaign.</li>
                      <li>The Participant will be presented 1 questions (which can vary). The objective of the game is to answer
                        the Trivia / Quiz questions correctly and basis the score the player can qualify for any of the following
                         tiers of the Snap Win.
                        <table>
                         <tbody>
                           <tr>
                              <th>No. of winners</th>
                              <th>Frequency</th>
                               <th>Prize </th>
                             </tr>
                             <tr>
                              <td>1</td>
                                <td>Entire Campaign</td>
                                <td>1 Lucky Winner will win RedMi Note 4 Mobile worth of Rs. 9,999</td>
                              </tr>
                        </tbody>
                       </table>
                      </li>
                       <li>Prize eligibility and prize amount:
                          <p class="m-b-20">Winners will be selected on random basis from all those participants who have given correct answers to
                           the questions on that season.</p>
                          <p class="m-b-20">A single participant can only win once in that particular Season.</p>
                           <p class="m-b-20">A Participant can play the contest multiple times. </p>
                          <p class="m-b-20">If mentioned gratification is not available or any other circumstances, we’ll provide the Paytm Cash
                             or Gift Voucher (i.e. Amazon Gift Voucher etc…) worth of mentioned gratification amount.</p>
                      </li>
                         <li>Participants will have a fixed limited time to answer each question this may change from time to time.
                         <p class="m-b-20">2.2 Participant(s) can play multiple times during Campaign Period and the best unique score for the campaign
                          (season) will be considered.</p>
                         <p class="m-b-20">2.3 In any circumstance “Hunter Games” will not be responsible for any extra amount paid by participants
                           or for more levels than the ones mentioned herein this T&C. </p>
                          <p class="m-b-20">2.4 The questions in the given campaign (Season) may either change or be the same all the time. </p>
                         </li>
                     <li>Packs Limit: Participants can play this quiz multiple times in a day during Campaign Period by buying the
                          question pack multiple times. </li>
                         <li>Winner Selection Criteria: Among all Participant(s), the last remaining participant in the round will win
                          that round and will get Hunter Games Cash* as per the table in clause 13.</li>
                        <li>Disclaimers:
                        <ul>
                           <li>. The residents of any state within territory of India, wherever prohibited by Law shall not be entitled
                             to participate in this Campaign as applicable.</li>
                          <li>. The billing amount as per Clause 2.3 and Prizes as explained under Clause 5 of Part-A of this T&C
                             are subject to daily revision on sole discretion of Hunter Games. </li>
                       </ul>
                       </li>
                        <li>Winner Announcement &amp; Communication:
                              <ul>
                                <li>The Participants would be selected as winner by “Hunter Games” .</li>
                               <li>”Hunter Games” shall also make three (3) attempts to gratify the winner on their registered Mobile
                                Number (with Hunter Games). Post which ” Hunter Games” will not be responsible for giving winner
                               the won Prize.</li>
                               <li>All decisions by “Hunter Games” regarding the selection of winner(s) shall be final and binding.</li>
                               <li>The gratification under this Campaign is neither assignable nor transferable under any circumstance,
                               unless specifically provided hereunder</li>
                               <li>The gratification to winner shall be given subject to compliance with all applicable statutory legislations
                                including RBI guidelines in respect of prepaid payment instrument, processes and formalities (including
                                 KYC formalities as may be applicable) in connection with the gratification and on production of all
                                such documents/papers as may be applicable and required by “Hunter Games” .</li>
                               <li>. Any failure on Participant/Winner part to comply with directions issued by “Hunter Games” for claiming
                                the gratification shall entitle “Hunter Games” to forfeit the gratification.</li>
                                 <li>Eligibility for claiming the prize: To be eligible to claim the gratification/s under the Campaign,
                                the winner may require a valid Paytm KYC verified account (as per RBI guidelines). If the Paytm account
                                  is not KYC verified, the winner may have to submit documents for KYC and get his/her account KYC
                                verified before claiming the prize.</li>
                                <li>All gratification must be claimed by the winner(s), along with the documents (if applicable) specified
                                 herein below within the 48 hours by the Organizers. The documents required to be submitted along
                                  with the claim by the Winner(s) include the following (the document list* is only inclusive and not
                                  exhaustive and can change as per the requirements of law):
                                  <ul>
                                     <li>Address proof (Voter ID / Driving License / Passport/electricity bill not older than 3 months /Telephone
                                       bill not older than 3 months etc.)</li>
                                      <li>Photo Id proof (Aadhar Card / Passport/Voter ID/Driving License etc. mandatory)</li>
                                     <li>One passport size photo (compulsory)</li>
                                      <li>Postpaid bill (for postpaid user) (additional document)</li>
                                     <li>PAN card copy self-attested</li>
                                     <li> Letter of compliance with rules and regulations and declarations in the format as may be required
                                     by the Organizers or applicable laws. *(the document list is only inclusive and not exhaustive
                                        and can change as per the requirements of law or Hunter Games). If the winner fails to comply
                                      with the herein set requirements his/her right to win the prize shall be forfeited. Once the
                                       winner's documents have been received and confirmed the result will be published on http://huntergames.com/winners.
                                   </li>
                             </ul>
                             </li>
                              <li>”Hunter Games” does not make any commitment, express or implied to respond to any feedback, suggestion
                                 and/or queries of the participants. </li>
                         </ul>
                  </li>
                  <li>Queries
                    <ul>
                      <li>If a Participant(s) requests for refund of his/her amount spent under this Campaign, under such scenario
                        refund may take up to 15 business days from the date of request for refund has been made by the Participant.
                        Participant(s) acknowledges on making the request for refund the Participant(s) shall lose all the
                        scopes for qualifying to win any Prize under this Campaign. All the Refunds are subject to sole discretion
                        of Hunter Games.</li>
                      <li>In case of anomalies in the details of the Participant registered with Hunter Games and documents submitted
                        by the Participant/s claiming Prize amount, such Participants will stand disqualified with immediate
                        effect.
                      </li>
                      <li>The gratifications in any form offered in this Campaign will be sponsored and distributed by Hunter
                        Games.
                      </li>
                      <li>This Campaign is skill based and is being made purely on a “best effort” basis and participation of
                        eligible Participants is voluntary, and subject to the applicable terms and conditions.</li>
                      <li>Participants may contact Hunter Gamesat support@huntergames.comregarding any queries/complaints pertaining
                        to the Campaign between 9.30 AM to 6.30 PM, on working days from Monday to Friday. All disputes must
                        be addressed by the Participants in writing to Hunter Games. Further, any information that the Participant
                        may request in connection with the Campaign, may be provided by Hunter Games to the Participant,
                        at the sole and absolute discretion of Hunter Games, depending on the nature of the information requested,
                        and any such information may be provided only during the period of Campaign. No such request shall
                        be entertained thereafter. Hunter Games further clarifies that any information requested by any Participant
                        shall only concern that Participant and under no circumstances will Hunter Games provide confidential
                        information or information pertaining to other Participant(s).</li>
                      <li>By entering the Campaign, you confirm and waive the applicability of rules and regulations of the National
                        Do Not Call Registry and You agree to receive promotional messages and alerts including without limitation
                        daily updates on the score under this Campaign from Hunter Games, as they may in their sole and absolute
                        discretion decide.</li>
                      <li>Hunter Gameswill entertain queries maximum for the period of one month, from the time the Campaign
                        Period ends on completion of one month period, we will not be held accountable/answerable for the
                        queries raised by the Participants.</li>
                    </ul>
                  </li>
                  </ul>
                  </li>
                  </ul>
                  </li>
        </ol>
        <h4>Part –B: Legal Terms &amp; Conditions: </h4>
        <ol class="term_tex">
          <li>The participation in the Campaign is open only for the Campaign Period for the Indian citizens of 18 years and
            above of age. Employees of Hunter Games (including their family members &amp; relatives) shall not be eligible
            for any of the Prize under this Campaign. In case it comes to the knowledge of Hunter Games that any Winner is
            an employee of Hunter Games or their family member or relative, Hunter Games reserves the right to forfeit the
            Prize. Further, to participate in Campaign the Participant needs to have registered account on Hunter Games Platform.
          </li>
          <li>The Participants who are residents (permanent/temporary) of any state/union territory within the territory of India
            shall not be entitled to participate in this Campaign, wherever such Campaign is prohibited by applicable law.</li>
          <li>By participating in this Campaign, participants have given us the right to use your name, photograph and other
            personal details for the purpose of this Campaign including announcing your name as eligible participant on social
            media, Hunter Games platform, or in public domain.</li>
          <li>The Campaign, Participants consent to the following information available on Paytm platform such as name, score,
            etc. to be communicated to its vendor as required for publication in any media for the purpose of Winner’s announcement.
            Hunter Games may, at its discretion, choose not to disclose the identity of the selected Winner(s) to other Participants
            unless expressly mentioned herein. The Participants also consent to the information being stored in the servers
            of Hunter Games or its service providers.</li>
          <li>Participants acknowledge and agree that all copyright and trademarks and all other intellectual property rights
            in the SMS content, WAP, Mobile application, Website and all material or content related to the Campaign shall
            remain, at all times, owned by Hunter Games and/or their respective owners. All material and content contained
            is made available for Participant’s personal and non-commercial use only. Any other use of the material/ content
            on the platform and/ or any information disseminated by SMS or any other means of communication is strictly prohibited.</li>
          <li>Subject to any applicable laws; (a) All warranties of any kind whatsoever, whether express or implied, are hereby
            expressly DISCLAIMED including, but not limited to, meeting of the Participant's requirements or aspirations,
            timeliness, security, the results or reliability of the Campaign, delay in sending or receiving the SMS for participating
            in the Campaign, any type of delay by the Participant/Winner, or the delivery, quality, quantity, merchantability,
            fitness for use or non-infringement in respect of any goods, services, benefits or Prize/gratification/awards
            acquired or obtained through the Campaign or any transactions effected through the Campaign; (b) The Participant
            expressly agree that his/her participation in the Campaign is at his/her sole risk and is governed by the TOU
            herein; and (c) No advice or information whether by representations, oral, written or pictorial derived from
            the platforms including but not limited to websites/ SMS, shall be construed to mean the giving of any warranty
            of any kind.</li>
          <li>The Prize(s) under this Campaign are neither assignable nor transferable under any circumstance, unless specifically
            provided hereunder. All the Prizes shall be subject to such other TOU as may be applicable to specific Prize
            and shall have to be duly complied with by the Winner(s).</li>
          <li>The Prize(s) under this Campaign are neither assignable nor transferable under any circumstance, unless specifically
            provided hereunder. All the Prizes shall be subject to such other TOU as may be applicable to specific Prize
            and shall have to be duly complied with by the Winner(s).</li>
          <li>The Prize(s) to the Winner(s) shall be given subject to compliance with all applicable statutory legislations,
            processes and formalities in connection with the Prize(s) and on production of all such documents/papers as may
            be required by Hunter Gamesbefore accepting the delivery of the Prize. Any failure on the part of the Winner(s)
            to comply with directions issued by Hunter Gamesfor claim of Prize shall entitle Hunter Games to forfeit the
            Prize(s) or roll the Prize over to the next eligible Winner(s), at their sole discretion.</li>
          <li>Any Participant providing any incorrect information or concealing/withholding any information from Hunter Games
            with intent to participate and/or be chosen as the Winner(s) of the Campaign will automatically be disqualified
            from participating in it and being chosen as the Winner(s) of the different categories of Prize. Such act of
            providing incorrect information or concealing/withholding any information, including without limitation incorrect
            declaration of information relating to name, age, identity, address, mobile connection of Operator number, domicile
            etc., by the Participant or dispute with the Paytm Platform, shall entitle Hunter Gamesto disqualify him/her
            without any further intimation. Hunter Games reserves its right to take appropriate legal action against any
            Participant involved in illegal/unauthorized activity.</li>
          <li>The Participants shall indemnify and keep indemnified Hunter Games and their officers, directors, employees, customers,
            and affiliates harmless from and against any and all claims, losses, suits, proceedings, action, liabilities,
            damages, expenses and costs (including attorney’s fees and court costs) which Hunter Games may incur, pay or
            become responsible as sponsor/organizer/facilitator as a result of (i) breach or alleged breach of the representations
            or obligations by the Participants under the TOU hereunder; (ii) any failure by the Participants to comply with
            applicable law and (iii) any third party claim in respect of misuse of any information of a third party by the
            Participant. Hunter Games shall have the right to defend themselves, pursuant to this clause, at the cost of
            the Participants. Hunter Games or their respective affiliates shall not be responsible for any direct, indirect,
            incidental, special, punitive or consequential damages, including loss of profits, incurred by the Winner(s)
            or any third party, in connection with the Campaign. It is expressly provided that transaction shall be between
            Participant &amp;Hunter Games only.</li>
          <li>All incidental costs, taxes or levies related to the Prize(s), if any, shall be exclusively borne by the Winner(s),
            including but not limited to logistics, TDS, GST, gift tax (if any), Insurance and any other taxes applicable
            by the Central, State or Municipal government. The Participant/s who have won the Prize have to make their own
            arrangements for travel, accommodation to claim the Prize (if applicable); Hunter Games shall not be responsible
            for the same or any cost of travel and accommodation incurred by any of them.</li>
          <li>Hunter Games hosts a number of campaigns and contents for which it reserves the right to charge a platform Fee,
            which will be included in the contribution to be paid by a participant. The payment that Participants make to
            participate in the contest(s) is inclusive of the nominated fee for access to the contest (subject to modification).
            Subject to these TOU, all other amounts collected from the User are held in escrow (subject to modification)
            until determination of the Winners and distribution of prizes. </li>
          <li>The users may participate in a contest wherein the user has to contribute a pre-specified contribution towards
            the prize money pool of such contest, which will be passed on to the Winner(s) of the contest after the completion
            of the contest as per the terms and conditions of such contest. </li>
          <li>The Participants and Winner(s) hereby irrevocably authorize Hunter Games to use the data/information gathered during
            and/or after the Campaign in respect of the Participant (including but not limited to name and photograph) in
            any of its communications including marketing promotions and advertisements. By participating in the Campaign,
            Participant(s) confirms to waive the applicability of rules and regulations of the National Do Not Call Registry
            and agrees to receive updates and promotional messages / SMS / Email / Call for current and future Campaigns
            from Hunter Games.</li>
          <li>This Campaign is subject to force majeure circumstances including without limitation, floods, natural disasters,
            war, act of terror, political unrests, technical snags, act of God, change of laws or any circumstance beyond
            the reasonable control of Hunter Games (“Force Majeure Event”). Hunter Games shall not be liable for any delay
            or adverse effect caused to this Campaign there under as a result of a Force Majeure Event. Hunter Games shall
            intimate the suspension of Campaign caused as a result of such Force Majeure Event to the Participants within
            reasonable time.</li>
          <li>Hunter Gamesreserves all the rights to offer any amount/coupon/voucher/any other Prize equivalent to the cost of
            the Prize</li>
          <li>This Campaign is subject to guidelines/ directions issued by any applicable competent authority from time to time.</li>
          <li>This Campaign is designed/sourced by Hunter Games, are as per their best of efforts. In case there is any discrepancy
            or dispute regarding the Campaign, the decision by Hunter Games shall be final and neither Hunter Gamesnor any
            third party shall have any liability towards any Participant. No queries/complaints whatsoever in this regard
            will be entertained.</li>
          <li>Hunter Games shall not be responsible for any claims arising out of technical failures before, during the Campaign
            or after the completion including but not limited to any technical failures in the mobile connectivity, delay
            in sending or receiving the SMS for participating in the Campaign, delay in time recorded or taken for answering
            a question during the tie-breaker process, any action that has been initiated, actioned or completed through
            his/her mobile phones, failure of servers or the failure to provide the correct score updates or any failures
            arising out of technical snags or resultant inability of the participant.</li>
          <li>Hunter Games reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this
            Campaign or any part thereof including the eligibility criteria, the TOU and Prize at their sole discretion at
            any time during its validity as may be required including in view of business exigencies and/or changes by a
            regulatory authority and/or statutory changes and/or changes in applicable laws or any reasons beyond their control
            and the same shall be binding on the Participant.</li>
          <li>Failure by Hunter Games to enforce any of their rights at any stage does not constitute a waiver of those rights.
            Further, Hunter Games may assign any of its rights within the Campaign to any party without prior intimation
            to Participants.</li>
          <li>Hunter Games does not make any commitment, express or implied to respond to any feedback, suggestion and/or queries
            of the Participants.</li>
          <li>Hunter Games neither guarantee or warranty the quality of the goods being offered as Prize nor is liable/ responsible
            for any defect in the goods so obtained/availed, by the Winners under this Campaign. Hunter Games shall also
            not be liable for any defect in the Prize so offered to the Winner under this Campaign. The Winner further understands
            that the goods provided as Prize will carry manufacturer’s guarantee and in case of any deficiency in the goods,
            Participant will contact the manufacturer only.</li>
          <li>Prizes as explained in Part A of this TOU shall be given as Cheque/Demand Draft/Paytm Cash only on sole discretion
            of Hunter Games.</li>
          <li>The Winners understand and agree that Hunter Games its owners and affiliates, shall not be liable for any loss
            or damage whatsoever that may be suffered, or for any personal loss or injury that may be suffered (including
            loss of life), to a Winner and/or any third party, directly or indirectly, by use or non-use of the Prize.</li>
          <li>Apart from the entitlement to the Prize, the Winners or their legal heirs/successors/ representative will have
            no other rights or claims against Hunter Games, its owners/organizers/sponsors and affiliates. Notwithstanding
            anything, in case of any dispute, maximum aggregate liability of Hunter Games, shall not exceed value of the
            concerned Prize mentioned under Part-A of this TOU.</li>
          <li>The Winner(s) understand and agree that acceptance of the Prize by them, constitutes grant of permission to the
            facilitators to click photographs of the Winner and use the Winner’s names, photograph, preferences (likes and
            dislikes), voice and comments for advertising and promotional purposes in any media worldwide, only for the purposes
            of advertising and trade without any additional compensation whatsoever to the Winners. The Participant/Winner
            hereby provides his/her irrevocable consent for sharing/submission of his/her personal information to Hunter
            Games, and subsequent use by Hunter Games of such information for lawful purposes as per its discretion.</li>
          <li>Post Winner(s) declaration and completion of their announcement and further process as the case may be if Hunter
            Games finds that the declared Winner(s) are erroneous then Hunter Games reserves the right to declare the correct
            Winner(s) again (as per the TOU) and cancel the Prize of Winner(s) declared earlier and the same decision of
            Hunter Games shall not be challenged by any erroneously selected Winners.</li>
          <li>Hunter Games shall not be responsible for any claims from any Participant/Winner(s) or any third party arising
            out of any failure(s) which is beyond the reasonable control of Hunter Games. Without limiting the generality
            of the foregoing, the Organizer shall not be responsible for any claims arising out of technical failures before,
            during or after the completion of the Campaign including but not limited to any technical failures in the mobile/device/computer/laptop
            connectivity, delay in sending or receiving the SMS for participating in the Campaign, any type of delay, any
            action that has been initiated, actioned or completed through his/her mobile phones/device/computer/laptop, failure
            of servers or any type of failures arising out of technical snags or resultant inability of the Participant(s).
          </li>
          <li>The Participant’s hereby agree and undertake not to hold the Company and/or any of their group entities or affiliates,
            their respective directors, officers, employees, responsible for or liable for, any actions, claims, demands,
            losses, damages, costs, charges and expenses, either direct or indirect or remote that they may/might have suffered,
            sustained or incurred, or claim to suffer, sustain or incur, by way of and /or on account of this Campaign, Campaign
            etc.
          </li>
          <li>Any dispute arising out of this Campaign’s TOU shall first be attempted to be resolved amicably through negotiations.
            In the event, amicable settlement fails, the dispute shall be referred to a sole arbitrator under Arbitration
            and Conciliation Act, 1996 (as amended). The venue of Arbitration shall be at Mumbai only.</li>
          <li>This Campaign and TOU are subject to Indian law and the exclusive jurisdiction of the Courts in Mumbai.</li>
        </ol>
      </div>
    </div>
  </div>
</div>