<div class="quick_screen">
  <header class="header tc_header">
    <div class="container">
      <div class="col-xs-12 p_0 ">
        <a class="logo" (click)="getHome()">
          <img class="logo-hunter" src="assets/quickwin/image/avtar_img.jpg">
      </a>
        <span class="header_title">FAQ's</span>
      </div>
    </div>
  </header>   
  <div class="container">
    <div class="col-xs-12 p_0">
      <div class="tc_info">
        <ul class="term_tex faq_text">
          <li>
            <p>Q. Can I play for Free or are these paid games?</p>
            Ans: Most of these games are free-to-play for trial however the main idea is to have quizzers and gamers a great way to play
            for Cash and win Cash. In the beginning we want you to try to play for free so that you get a sense. So do try
            our Cash Blast / Initial Free questions for Mega Sharks game, and most importantly FREE DAILY CASH WIN which
            is made just so that you can have a chance of winning Rs. 100 Cash by answering 100% correct. You can play this
            game many times till you get 100% correct.
          </li>

          <li>
            <p>Q. What is Cash? Is it real cash we can win?</p>
            Ans: Cash mentioned across is digital Wallet Cash equivalent. This means it is either Paytm Cash or in bigger prizes we even
            make Bank to Bank transfer into your account. We have kept Paytm Cash as the gratification as its instantly in
            your Paytm wallet and you can use it like real cash for anything like Mobile Recharge / Movie tickets / Airline
            tickets / Purchases at retail outlets / Payments on all apps. This is as good as cash and instantly sent to your
            account when you play games like Cash Blast and in other games we declare winners daily / weekly / season and
            at the end of the contest we have a third party auditor to validate the winners and we then ask for some documents
            to verify your identity and address and pass this on as Bank to Bank money transfer.
          </li>

          <li>
            <p>Q. Will I have to pay taxes on my winnings?</p>
            Ans. Yes if your value of winnings is high (typically over a few Rs. Thousand/s ) it may need TDS to be deducted in which
            case we deducted as per law and pass on the winning amount and issue you a TDS certificate.
          </li>

          <li>
            <p>Q. Do I have to be a Paytm user to play these Why?</p>
            Ans. We want to be different from other games. In games like Cash Blast we try to have your winnings credited instantly.
            The only way to do this is through a Payment Wallet (as bank transfers take time) hence we urge you to signup
            for Paytm. In future we will be adding other payment options like UPI and other Wallets. But our focus is quick
            and instant payouts hence we request you for a Paytm account.
          </li>

          <li>
            <p>Q. Can Quiz / Trivia games be played for Cash prizes?</p>
            Ans. Yes! Per the laws of India a skill-based game can be played for Cash prizes. We have a very strong focus on meritocratic
            Quiz / Trivia based Skill element on all our games. Play today and win!
          </li>
          <li>
            <p>Q. Are there any restrictions?</p> Ans: If you are from Telengana and other states where Cash Games are not allowed
            we will not be able to accept your game and we would urge you to not participate upfront. Apart from this you
            need to be of the legal age of an adult to play.
            <br/>
            <br/> Send us more queries if you have to: support@mindhuntergames.com we will revert to you quickly. </li>

        </ul>
      </div>
    </div>
  </div>
</div>