<!-- <div class="container">
  <header>
    <img src="assets/spinwheel/images/logo_header.png"/>
    <h1><img src="assets/spinwheel/images/title.png"/></h1>    
  </header>                 
  <div class="stepOne">
    <div class="wheel-wrap">
      <img src="assets/spinwheel/images/outer_wheel.png"/>
      <div class="innerWheel" >
        <img class="wheel" src="assets/spinwheel/images/inner-wheel-cashpng.png"/>
      </div>
      <div class="topPointer">
        <img src="assets/spinwheel/images/pointer.png"/>
      </div>
      <img class="botPointer" src="assets/spinwheel/images/spin_button.png"/>
    </div>
    <div class="spinNow">
      Spin Now &amp; win paytm cash instantly!
    </div>
    <div class="tapAnywhere">Tap anywhere to spin the wheel</div>
  </div>
  <div class="stepTwo">
    <div class="congratulation">
      <img src="assets/spinwheel/images/congrats_text.png"/>
    </div>
    <div class="won">
      You have WON
      <span>Paytm cash &#8377; <em class="parize"></em></span>
    </div>
    <div class="claim">
      <em>Claim your free gift</em>
      <input type="tel" pattern="[0-9]*" />
      <span>*Enter your Paytm registered mobile number</span>
      <a href=""><img src="assets/spinwheel/images/claim_button.png"/></a>
    </div>
    <div class="tNc">
      <a href="#">T&amp;C Apply</a>
    </div>
  </div>
  <div class="oops">
    <div class="congratulation">
      <img src="assets/spinwheel/images/oops_text.png"/>
    </div>
    <div class="claim">
      <em>You are already a registered user</em>
      <em>*This offer is available for new user only</em>
      <span>But your can WIN &#8377; 3 daily for FREE Happy Playing</span>
    </div>
    <div class="playFree">
      <a href="#">
        <img src="assets/spinwheel/images/coupon_w_text.png"/>
      </a>
    </div>
    <div class="tNc">
      <a href="#">T&amp;C Apply</a>
    </div>
  </div>
</div> -->