
  <div class="quick_screen">
    <header class="header">
      <div class="container">
        <div class="col-xs-12 p_0 logo-area"> <a class="logo"><img class="logo-hunter" src="assets/quickwin/image/avtar_img.jpg" (click)="getHome()"></a>
          <span class="header_title"></span> </div>
      </div>
    </header>
    <div class="quickwin_info">
      <div class="container">
        <div class="col-xs-12  won-pp-text">
          <h3>WOW!</h3>
          <p>CORRECT ANSWER</p>
        </div>
        <div class="col-xs-12 p_0">
          <div class="movie_list">
            <div class="col-xs-2 p_0 number-aa"> <span>{{index}}</span></div>
            <div class="col-xs-12 p_0">
              <p>{{ans}}</p>
            </div>
          </div>
          <div class="col-xs-12 won-pp-text-2">
            <p>YOU CAN WIN</p>
            <h3><img width="40" src="assets/quickwin/image/xiaomi-logo.png">Redmi Note 4 </h3>
          </div>
          <div class="col-xs-12 won-pp-text-3">
            <p>Stay Tuned</p>
            <p>Results will be announced Soon</p>
          </div>
          <div class="col-xs-12 won-pp-text-4">
            <p>Keep Playing</p>
            <p>to increse your chances of winning</p>
          </div>
          <div class="col-xs-12 "> <button class="btn play_btn" (click)="goHome()">Play More Games</button> </div>
        </div>
      </div>
    </div>
  </div>
