<div class="quick_screen">
  <header class="header">
    <div class="container">
      <div class="col-xs-12 p_0 logo-area"> <a class="logo" (click)="getHome()"><img class="logo-hunter" src="assets/quickwin/image/avtar_img.jpg"></a>
        <span class="header_title"></span> </div>
    </div>
  </header>
  <div class="container">
    <div class="col-xs-12 p_0">
      <div class="tc_info">
        <ul class="term_tex past_winnertext">
          <li>
            <div class="past_winner">
              <div class="past_winnerimg">
                <img src="assets/quickwin/image/winner1.jpg">
              </div>
              <div class="past_winnertext">Past Winner
                <span>Himesh Patel</span>
                <p>(Rajkot)</p>
              </div>
            </div>
          </li>
          <li>
            <div class="past_winner">
              <div class="past_winnerimg">
                <img src="assets/quickwin/image/winner1.jpg">
              </div>
              <div class="past_winnertext">Past Winner
                <span>Himesh Patel</span>
                <p>(Rajkot)</p>
              </div>
            </div>
          </li>
          <li>
            <div class="past_winner">
              <div class="past_winnerimg">
                <img src="assets/quickwin/image/winner1.jpg">
              </div>
              <div class="past_winnertext">Past Winner
                <span>Himesh Patel</span>
                <p>(Rajkot)</p>
              </div>
            </div>
          </li>
          <li>
            <div class="past_winner">
              <div class="past_winnerimg">
                <img src="assets/quickwin/image/winner1.jpg">
              </div>
              <div class="past_winnertext">Past Winner
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum nam mollitia impedit
                  ratione, delectus autem, rem, repellendus quod explicabo laboriosam doloribus nemo quos. Error
                  blanditiis quas atque! Amet, eum.</span>
                <p>(Rajkot)</p>
              </div>
            </div>
          </li>
          <li>
            <div class="past_winner">
              <div class="past_winnerimg">
                <img src="assets/quickwin/image/winner1.jpg">
              </div>
              <div class="past_winnertext">Past Winner
                <span>Himesh Patel</span>
                <p>(Rajkot)</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>