<body id="pp_tips">
<div class="pool_home_screen">
  <div class="container">
    <div class="pool_home_info">	
      <div class="col-xs-12 p_0">
        <div class="pool_header">
          <a href="javascript:void(0);" class="menu_icon">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <h3 class="pool_quiztitle">Tips & Tricks</h3>
        </div>
        <div class="pool_term_tex pool_tipstext">
          <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis vel magna imperdiet ornare. Integer iaculis cursus eros id consequat. Suspendisse tincidunt semper libero, malesuada fermentum leo euismod ac.</li>

            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis vel magna imperdiet ornare. Integer iaculis cursus eros id consequat. Suspendisse tincidunt semper libero, malesuada fermentum leo euismod ac.</li>

            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis vel magna imperdiet ornare. Integer iaculis cursus eros id consequat. Suspendisse tincidunt semper libero, malesuada fermentum leo euismod ac.</li>

            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis vel magna imperdiet ornare. Integer iaculis cursus eros id consequat. Suspendisse tincidunt semper libero, malesuada fermentum leo euismod ac.</li>

            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat turpis vel magna imperdiet ornare. Integer iaculis cursus eros id consequat. Suspendisse tincidunt semper libero, malesuada fermentum leo euismod ac.</li>

          </ol>
        </div>
      </div>	
    </div>
  </div>
  <footer class="pool_footer_sec">
    <div class="container">
      <div class="pool_footer_nav">
        <ul>
          <li><a href="javascript:void(0);">T & C</a></li>
          <li><a href="javascript:void(0);">Past Winner</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
