<div class="home_screen-2 support_screen">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 d-logo">
        <img src="assets/dashboard/image/logo.png">
      </div>
      <div class="col-xs-3 p-0">
        <div class="points-area">
          <h4>
            <img src="assets/dashboard/image/coin.png"> 2387 </h4>
        </div>
      </div>

      <div class="col-xs-4 p-0 mob-nomber">
        <p>+91 9650720084</p>
      </div>

    </div>



  </div>


  <div class="container m-t-20">
    <div class="row">
      <div class="col-xs-12 redeem-text">
        <h4>Redeem Points to Buy</h4>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/img1.png">
            <p>200 Points</p>
          </div>
          <div class="coupon-text">
            <p>Movie Voucher Worth Rs. 200</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/Big-Bazaar.jpg">
            <p>500 Points</p>
          </div>
          <div class="coupon-text">
            <p>Big Bazaar Voucher Worth Rs. 500</p>
          </div>
        </div>
      </div>
  
      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/Headphone.jpg">
            <p>550 Points</p>
          </div>
          <div class="coupon-text">
            <p>JBL Headphone Worth Rs. 550</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/Power-Bank.jpg">
            <p>800 Points</p>
          </div>
          <div class="coupon-text">
            <p>Intex Power Bank Worth Rs. 800</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/DTH.jpg">
            <p>1,200 Points</p>
          </div>
          <div class="coupon-text">
            <p>DTH Voucher Worth Rs. 1200</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/Juicer.jpg">
            <p>3,500 Points</p>
          </div>
          <div class="coupon-text">
            <p>Philips Mixer Worth Rs. 3,500</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/bose.jpg">
            <p>5,500 Points</p>
          </div>
          <div class="coupon-text">
            <p>Bose Speaker Worth Rs. 5,500</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 main-coupon">
        <div class="col-xs-12 coupon-list padd0">
          <div class="coupon-image">
            <img src="assets/dashboard/image/redmi.jpg">
            <p>12,000 Points</p>
          </div>
          <div class="coupon-text">
            <p>Redmi Note 5 Pro Worth Rs. 12,000</p>
          </div>
        </div>
      </div>








    </div>
  </div>


  <div class="container m-foot-quest">
    <div class="col-xs-12 ">
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getTC()">T&amp;C</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getBlog()">Blog</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="getFAQ()">FAQ's</a>
        </p>
      </div>
      <div class="col-xs-3 footer-text-quest">
        <p>
          <a (click)="sendQuery()">Support</a>
        </p>
      </div>

    </div>
  </div>
</div>