<div class="pool_prize_body pool_home_screen">
  <div class="container">
    <div class="pool_home_info">
      <div class="col-xs-12 p_0">
        <div class="pool_header">
          <a (click)="goBack()" class="menu_icon">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <h3 class="pool_quiztitle">Tips & Tricks</h3>
        </div>
        <div class="pool_term_tex pool_tipstext">
          <ol type="A">
            <li> This is a very entertaining and exciting multiplayer Quiz game where you can complete for Cash Prizes while playing
              with other Players in real-time. There is no limit to how many times you can play or how much one can win*.</li>
            <li> The objective of this game is to answer Qui/Trivia questions correctly. Each player has 3 lives and each wrong
              answer or not answering in the time given means a loss of all 3 lives the player loses the game and is removed
              from the table he is playing the game with other players.</li>
            <li> The last player left with lives intact is the winner and will win a Cash Amount in the table which is the amount
              if entry free x number of players on that table and deductions are made for Bandwidth and Platform fee by Mindhunter
              games.</li>
            <li> You can play the free version available for a limited time to get an idea of how the game works or see our Video
              here [Video](hyperlink)</li>
            <li> To play the Cash Prize version. You will have to choose which ‘table’ You want to play on.</li>
            <li> The tables are basis the ‘entry fee’.</li>
            <li>Eg. In a Rs. 10 table every player (either 2 or max 5 per table) each player would have paid Rs.10 to play and
              roughly around the same time chosen to play and are randomly placed on a table. In this case the total winning
              amount for 5 players is Rs.50 and the winner (the last player left in the game) will get Rs.45 which is Rs.50
              less the Platform and Bandwidth fee charged by Mindhunter games.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <footer class="pool_footer_sec">
    <div class="container">
      <div class="pool_footer_nav">
        <ul>
          <li (click)="getTC()">
            <a >T & C</a>
          </li>
          
        </ul>
      </div>
    </div>
  </footer>
</div>