<div class="container-fluid m-bg full-100">
<!-- 
	<div class="row sound-main">
		<div class="start-sound">
			<img src="assets/image/icon-sound.png">
		</div>
	</div> -->
	
		
	

<div class="row ">
	<div class="col-xs-12 error-main">
	 <div class="col-xs-12 error-box padd0">
	 	<div class="col-xs-2 error-img">
	 		<img width="50px" src="assets/image/error-triangle.png">
	 	</div>
	 	<div class="col-xs-8 opps-text">
	 		<h4>OOPS!</h4>
	 		<p>Weak Network!</p>
	 	</div>
	 	<div class="col-xs-2 text-right" (click)="getHome()">
	 		<img width="30px" src="assets/image/error.png">
	 	</div>
	 </div>	

	</div>



</div>


</div>